#content {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0.5em;
}

h2 {
    background-color: rgba(138,160,179, 0.1);
}